@keyframes fadeInPop {
  0% {
    opacity: 0.5;
    /* transform: scale(0.95); */
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cardRoot {
  opacity: 0;
  /* transform: scale(0.95); */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  animation: fadeInPop 0.3s;
  animation-fill-mode: forwards;
  background-color: rgb(253, 253, 253);

  -webkit-tap-highlight-color: transparent;

  /* border: 1px solid #c3c3c363; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardRoot:nth-child(1) {
  animation-delay: 0s;
}

.cardRoot:nth-child(2) {
  animation-delay: 0.05s;
}

.cardRoot:nth-child(3) {
  animation-delay: 0.1s;
}

.cardRoot:nth-child(4) {
  animation-delay: 0.15s;
}

.cardRoot:nth-child(5) {
  animation-delay: 0.2s;
}

.cardRoot:nth-child(6) {
  animation-delay: 0.25s;
}

.cardRoot:nth-child(7) {
  animation-delay: 0.3s;
}

.cardRoot:nth-child(8) {
  animation-delay: 0.35s;
}

.cardRoot:nth-child(9) {
  animation-delay: 0.4s;
}

.cardRoot:nth-child(10) {
  animation-delay: 0.45s;
}

.cardRoot:nth-child(11) {
  animation-delay: 0.5s;
}

.cardRoot:nth-child(12) {
  animation-delay: 0.55s;
}

.imageParent {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  position: relative;
}

.tagsCont {
  position: absolute;
  bottom: 6px;
  left: 6px;
  padding: 4px;
  background-color: #ffffffee;
  color: white;
  border-radius: 8px;
  display: flex;
  gap: 4px;
}

.tag {
  font-size: 10px;
  font-weight: bold;
  width: 24px;
  height: 24px;
}

.tagIMG {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border-bottom: 1px solid #5b5b5b51; */
}

.content {
  padding: 14px;
  background-color: #e5eff7d2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
  /* justify text */
  text-wrap: wrap;
}

.contentPrice {
  font-size: 14px;
  font-weight: light;
  color: #000000;
}

.TaxIncludedSpan {
  font-size: 10px;
  color: #000000;
}

.priceCont {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.addButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #ceeaf7;
  color: black;
  /* border: 1px solid #00000033; */
  /* box-shadow: 0px 0px 2px 0px rgba(9, 9, 9, 0.2); */
  border-radius: 12px;
  /* border-top-left-radius: 12px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 12px; */
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addButton:active {
  box-shadow: none;
  background-color: #d4dae3;
}
