.root {
  background-color: black;
  height: 60px;
}

.foodList {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.active {
  background-color: #b7e6ff;
  color: black;
}

.button {
  color: black;
  background-color: white;
}
