.root {
  width: 100vw;
  height: 100vh;
  background-color: #1b2530;

  color: black;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1024px;
  height: 640px;
  border: 20px solid rgb(36, 36, 36);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: auto;
}
