.mainRoot {
  width: 100%;
  height: 100%;

  display: flex;
  background-color: #f3f3f3;
}

.mainRootLeft {
  height: 100%;
  flex-grow: 1;
}

.mainRootRight {
  height: 100%;
  width: 270px;
}

.customRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #f3f3f3;

  z-index: 100000;
}

.rootGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sideOrderBar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-left: 1px solid #838383;
  background-color: white;
  padding: 0px 10px;
}

.navBar {
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.mainGrid {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardGrid {
  gap: 20px;
  display: grid;

  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  padding: 20px 30px;
  z-index: 0;
}

.bottomCont {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.priceCont {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 4px;
}

.totalText {
  font-size: 24px;
  font-weight: bold;
}

.totalPrice {
  font-size: 24px;
}

.taxInc {
  font-size: 12px;
  font-weight: light;
  color: #121212;
  margin-bottom: 6px;

  text-wrap: nowrap;
}

.bottomButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.restartButton {
  color: #e51a1a;
  background-color: transparent;
  padding: 6px 4px;
  margin: 0 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.orderButton {
  background-color: #6f94bc;
  border: 1px solid rgb(75, 75, 75);

  padding: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  text-transform: uppercase;
  color: white;

  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  flex-grow: 1;
}

.orderButton:active {
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #688bb0;
}

.orderAmount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e51a1a;
  padding: 4px 10px;
  border-radius: 50%;

  font-size: 12px;

  transform: translate(-5%, 5%);

  color: white;
}

.sideButtons {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(195, 231, 237);
  color: black;
  z-index: 10;
}

.sideButtons:disabled {
  background-color: #e5e8eb;
  box-shadow: none;
  color: #b7b7b7;
  cursor: not-allowed;

  animation: none;
}

.orderListComp {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}

.orderCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.orderText {
  font-size: 32px;
  font-weight: bold;
}

.orderTextCont {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 4px;
}

.callStaffButton {
  background-color: #e51a1a;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
  border: 1px solid #575757;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.callStaffButton:active {
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #a00000;
}

.orderLength {
  font-size: 24px;
  font-weight: light;
  margin-bottom: 5px;
}

.confirmOrderCont {
  background-color: #f3f3f3;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 600px;
  height: 400px;
}

.confirmOrderContTop {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: flex;
  gap: 48px;
}

.confirmOrderContTopLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirmOrderContTopRight {
  flex-grow: 1;
}

.confirmOrderText {
  font-size: 18px;
  font-weight: light;
  margin-top: 18px;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.cancelButton {
  width: 200px;
  height: 60px;

  border: 1px solid #181818;
  background-color: #4f4f4f;
  border-radius: 8px;
  color: white;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 20px;
  font-weight: bold;
}

.addButton {
  flex-grow: 1;

  border: 1px solid #181818;
  background-color: #6f94bc;
  border-radius: 8px;
  color: white;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 20px;
  font-weight: bold;
}
