.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #edf2f6;
  color: black;

  cursor: pointer;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.imagePress {
  position: absolute;
  bottom: 6%;
  left: 50%;
  animation: textAnim 2s infinite ease-in-out;

  transform: translate(-50%, 0);

  color: white;
  font-size: 18px;
  font-family: "Inter";
  font-weight: light;
}

@keyframes textAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
